<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Footer Page</title>
</head>
<body>
	<footer th:fragment="footer1">
	  <div id="ft1">
	   <h3>This is a footer Page</h3>
	   <h4>Use for Practise Purpose of Thymeleaf Fragment Example.</h4>
	   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa hic consectetur dignissimos perspiciatis expedita suscipit repellendus fuga nemo voluptates harum quaerat fugit eius quos quasi ipsam nam porro 
	     recusandae nobis eum molestias similique illo autem. Possimus facilis vel adipisci saepe unde ratione ex similique odit dolorum ipsum sequi quae. Tempora expedita consequuntur eos aut placeat quia eligendi est 
	     laboriosam consectetur facilis minima voluptate beatae saepe veritatis inventore excepturi unde porro fugiat autem molestiae distinctio corporis reiciendis! Est perspiciatis voluptatibus ducimus minima consequatur 
	     perferendis ex dolore enim ab dolorem harum cumque nihil voluptas modi autem quam reiciendis debitis non adipisci quidem. Aut est cupiditate quibusdam et eligendi sequi blanditiis quae unde ipsum architecto mollitia 
	     ut at eum quam laudantium! Eum distinctio autem placeat eos iusto excepturi natus commodi quod voluptatem sunt alias aut architecto quis cumque pariatur odit consectetur exercitationem totam atque nisi. Aspernatur commodi 
	     dignissimos saepe excepturi nihil provident nisi magnam neque earum sapiente quibusdam fugiat esse adipisci magni totam fugit necessitatibus numquam sequi dolores ipsum beatae impedit itaque quaerat at cum tempora ducimus. 
	     Error quo ad officia cum sunt fuga ratione sint tempore saepe sed fugiat accusamus aperiam dolores pariatur tempora repellat a sapiente voluptatibus doloribus asperiores eaque atque.</p>
	  </div>
	</footer>
	
</body>
</html>